* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.typewriting {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.typewriting h2 {
  letter-spacing: 2px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(18) infinite;
}

.typewriting::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #fff;
  animation: blink 1.1s linear infinite;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 320px;
  }
}
